
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,600;1,300&display=swap');

/* Wildcard selector to override default browser styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Style rules for body */

body {font-family: 'Roboto Condensed', sans-serif;
color: rgba(59, 32, 46, 0.86);
margin: 20px;
min-height: 100vh; 
flex-direction: column;
display: flex; 
background-color: lightgray;
}
/* Font properties */
h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(59, 32, 46, 0.86);
}
/* Design rules for the header */
header {
    background-color: lightgray;
    padding: 0 2rem;
    position: relative;
    z-index: 90;
    width: 100%;
    box-shadow: 0 3px 3px #3b202edb;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}
/* Styling menu to improve UX */
#menu {
    font-size: 120%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

/* Navbar toggle */
nav {
    position: absolute;
    background-color: lightgray;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 3px 3px #3b202edb;
    display: none;  
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}
/* Main Content */
main {
    position: relative;
    flex-direction: column; 
    flex: 1 0 auto;
    margin-top: 47px;
    width: 100%;
    margin: 10px;
    padding: 6px;
}
    
#bio {
    position: relative;
 

}
/* Timeline styled to run downwards on the page */
#timeline {
    height: 400px;
    max-width: 1200px;
    background: url("assets/images/flag-background.jpg") no-repeat center center/cover;
    position: relative;
    margin: 0 auto;
}
/* The vertical line for the timeline */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #3a3a3a;
    top: 0;
    bottom: 0;
    left: 0%;
    margin-left: -20px;
}


/* Footer for social media sites */
#social-networks {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 100%;
}

#social-networks i {
    color: #3b202edb;
    font-size: 200%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
    text-decoration: none;
    }

#social-networks a {
    text-decoration: none;
}
/* Form for the competition page */
#competition {
    background-image: url("../images/competition.jpg");
    background-size: cover;
    background-position: 75%;
    height: 100%;
}
/* Background images for the legacy page */
#legacy {
background: url("assets/images/stage.webp") no-repeat top center/cover;
background: url("assets/images/hamilton-musical.jpeg") no-repeat top center/cover;
background: url("assets/images/statue.jpg") no-repeat top center/cover;
}
img {
    height: 30vw;
    width: 30vw;
    justify-content: space-between;
}
.duel img {
    width:50vw;
    height: 50vw;
    padding: 50%;
}

/* Style rules for competition page */
.competition {
color: #ffffff;
    background-color: rgba(100, 109, 109, 0.6);
    padding: 30px;
}
/* Buttons to submit data for competition */
#radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* Button to submit data to enter competition */
.submit-button {
    margin-top: 20px;
        border-radius: 2px;
        padding: 15px 32px;
        font-size: 100%;
        background-color: #3b202edb;
        color: #ffffff;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .image {
        column-count: 3;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
.image {
    text-align: center;
    column-count: 3;
}   
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .image {
        text-align: center;
        column-count: 3;
    }
}
